@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Zen Kurenaido', sans-serif;
    background-color: whitesmoke;
}


h1 {
    /* Center div or element */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* End of noted code */
}